@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* :root {
  --colr-main: #1B1F3A;
  --colr-secondary: #A64942;
  --colr-accent: #FF7844;
  --colr-white: #ffffff;
  --colr-blk: #000000;
  --colr-lightgrey: #D3D3D3;
  --colr-lighter-grey: #F4F4F4;
  --colr-sub-text: #808080;
} */

/* :root {
  --colr-main: #002B5B;
  --colr-secondary: #EA5455;
  --colr-third: #E4DCCF;
  --colr-accent: #F7E987;
  --colr-white: #ffffff;
  --colr-blk: #000000;
  --colr-lightgrey: #D3D3D3;
  --colr-lighter-grey: #F4F4F4;
  --colr-sub-text: #808080;
} */
:root {
  --colr-main: #1B1F3A;
  --colr-secondary: #404987;
  --colr-third: #6372D4;
  --colr-white: #ffffff;
  --colr-blk: #000000;
  --colr-gray: #414354;
  --colr-gray2: #686C87;
  --colr-sub-text: #808080;
  --colr-lightgrey: #D3D3D3;
  --colr-lighter-grey: #F4F4F4;
}

/* header/ navbar */
.nav {
  position: fixed;
  width: 100%;
  background:  var(--colr-secondary);
  z-index: 9999;
}

.nav_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: min(90%, 1200px);
  padding: 24px 0;
}

.nav_navbar-btn {
  font-size: 1rem;
  /* color: var(--colr-blk); */
  background: var(--colr-third);
  padding: 8px 32px;
  border: transparent;
  border-radius: 4px;
}

.nav_navbar-btn:hover {
  color: var(--colr-blk);
  background: var(--colr-white);
}

.nav_logo {
  font-size: 1.5rem;
}

.nav_logo a:hover {
  color: var(--colr-lightgrey);
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
	scroll-behavior: smooth;
}

.nav_list-item:not(:last-child) {
  margin-right: 1.5rem;
}

.nav_list-item a {
  font-size: 1.1rem;
  color: var(--colr-white);
  letter-spacing: 1px;
}

.nav_list-item a:hover {
  color: var(--colr-lightgrey);
  /* padding-top: 14px; */
  /* border-top: 3px solid #333; */
}



/* hero */
.hero {
  position: relative;
  padding: 100px 20px 0 100px;
  background: var(--colr-white);
  overflow:hidden;
}

.hero__text-background {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  color: var(--colr-blk);
  font-size: 3em;
  font-weight: 900;
  z-index: 0;
  width: 1000%;
  border: 2px solid lime;
  /* overflow: hidden; */
}

.hero_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: min(100%, 1200px);
  /* overflow-x:hidden; */
}


.hero_content-left {
  text-align: left;
  width: 50%;
}

.hero_content-left h3 {
  color: var(--colr-blk);
  font-size: 2rem;
}

.hero_content-left span {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--colr-third);
}

.hero_content-title {
  color: var(--colr-main);
  font-size: 4.6rem;
  font-weight: 800;
}

.hero_content-para {
  color: var(--colr-blk);
  font-size: 1.2rem;
  margin: .7rem 0 3rem 0;
  width: 520px;
}

.hero_content-btn1 {
  background: var(--colr-main);
  padding: 8px 32px;
  border-radius: 4px;
  margin-right: 1rem;
}

.hero_content-btn1:hover {
  background: var(--colr-secondary);
}

.hero_content-btn2 {
  color: var(--colr-main);
  border: 2px solid var(--colr-main);
  background: transparent;
  padding: 6px 32px;
  border-radius: 4px;
  margin-right: 1rem;
}

.hero_content-btn2:hover {
  color: var(--colr-white);
  background: var(--colr-main);
}



.hero_content-right {
  /* background: #999; */
  width: 50%;
}

.hero_content-right img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 85%;
  /* height: 450px; */
  border-radius: 10px;
  /* margin-left: 24px; */
  vertical-align: top;
}


/* skills */
.skills {
  /* padding: 50px; */
  /* border: 5px solid var(--colr-gold); */
  background: var(--colr-gray2);
  /* border: 2px solid red; */

}

.skills h2 {
  color: var(--colr-sub-text);
  font-size: 3rem;
  letter-spacing: 5px;
  z-index: 0;
}

.skills_content {
  /* position: relative; */
  width: min(100%, 1140px);
  margin-inline: auto;
  /* padding: 90px ; */
  /* border: 2px solid orange; */

}

.skills_content-inner {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  /* margin-top: 3.5rem; */
  /* border: 2px solid yellow; */
}

.skills_content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  /* height: 150px; */
  /* border-radius: 50%; */
  /* border: 5px solid var(--colr-light-blue); */
  background: var(--colr-gray);
  z-index: 1;
}

.skills_content-box h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--colr-blk);
}

.skills_content-box img {
  width: 50px;
  margin-bottom: 0.7rem;
}

.skills_content-box:not(:nth-child(6)) {
  margin-right: 1rem;
}



/* about */
.about {
  position: relative;
  background: var(--colr-main);
  padding: 150px 20px;
  overflow: hidden;
}

.about::before {
  position: absolute;
  left: 0;
  content: '';
  width: 250%;
  height: 16px;
  background: var(--colr-accent);
  transform: rotate(-25deg);
  /* box-shadow: 40px 0px 20px var(--colr-accent); */
}

.about_content {
  width: min(100%, 1100px);
  margin-inline: auto;
  /* border: 2px solid lime; */
}

.about_content-inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 2px solid lime; */
}

.about_content-left {
  left: 0;
  width: 50%;
  /* background: #888; */
}

.about_content-left img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 110%;
  height: 450px;
  /* padding-right: 1.5rem; */
  vertical-align: top;
}


.about_content-right {
  position: absolute;
  top: 10px;
  right: 0;
  width: 50%;
  padding: 24px;
  /* margin-right: 1rem; */
  border-radius: 4px;
  background: var(--colr-white);
}

.about_content-right h2 {
  color: var(--colr-main);
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.about_content-right h3 {
  color: var(--colr-main);
  font-weight: 700;
  font-size: 2rem;
}

.about_content-right p {
  color: var(--colr-blk);
  font-size: 1em;
  margin: 1rem 0;
  /* line-height: 28px; */
}

.about_content-socials {
  margin-bottom: 2rem;
}


.about_content-icons {
  color: var(--colr-blk);
  font-size: 1.5rem;
  margin-right: 16px;
}

.about_content-icons:hover {
  color: var(--colr-sub-text);
}

.about_content-btn {
  font-size: 1rem;
  padding: 8px 32px;
  color: var(--colr-white);
  border-radius: 4px;
  letter-spacing: 1.5px;
  background: var(--colr-secondary);
}

.about_content-btn:hover {
  color: var(--colr-white);
  background: var(--colr-main);
  /* border:2px solid var(--colr-secondary); */
}


/* portfolio */
.portfolio {
  padding: 50px 0;
  text-align: center;
  background: var(--colr-secondary);
}

.portfolio_content {
  margin-inline: auto;
  width: min(90%, 1140px);
  padding: 50px 0;
  /* border: 2px solid red; */
}

.portfolio_content h2 {
  font-size: 3rem;
  color: var(--colr-white);
}

.portfolio_content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin: 50px 0;
}

.portfolio_content-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.portfolio_content-left {
  width: 50%;
}

.portfolio_content-left img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  vertical-align: top;
}

.portfolio_content-right {
  position: absolute;
  right: 0;
  width: 60%;
  padding: 1em;
  background: var(--colr-white);
}

.portfolio_content-box p {
  text-align: left;
  color: #000;
}

.portfolio_content-box img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}


/* contact */
.contact {
  position: relative;
  padding: 60px 0;
  text-align: center;
  background: var(--colr-white);
  overflow: hidden;
}

.contact::before {
  position: absolute;
  right: 0;
  content: '';
  width: 280%;
  height: 16px;
  background: var(--colr-accent);
  transform: rotate(20deg);
  /* box-shadow: 40px 0px 20px var(--colr-accent); */
}

.contact_content {
  position: relative;
  margin-inline: auto;
  padding: 80px 0;
  width: min(100%, 800px);
  /* border: 2px solid red; */
}

.contact_content h2 {
  
  position: absolute;
  top: 0;
  font-size: 3rem;
  /* font-weight: 800; */
  letter-spacing: 1px;
  color: var(--colr-blk);
}

.contact_content-inner {
  margin-inline: auto;
  width: 80%;
  /* border: 2px solid lime; */
}

.contact_content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;  
}

.contact_content-form input {
  font-size: 1.2rem;
  padding: 12px;
  margin-bottom: 1rem;
  outline: transparent;
  border: transparent;
  background: var(--colr-lighter-grey);
}

.contact_content-form textarea {
  font-size: 1.3rem;
  padding: 16px;
  outline: transparent;
  border: transparent;
  resize: none;
  background: var(--colr-lighter-grey);
}

.contact_content-form input[type=submit] {
  font-size: 1.5rem;
  color: var(--colr-white);
  background: var(--colr-third);
  margin-top: 1rem;
  cursor: pointer;
}

.contact_content-form input[type=submit]:hover {
  color: var(--colr-white);
  background-color: var(--colr-main);
}

/* footer */
.footer {
  padding: 30px 0;
  text-align: center;
  background: var(--colr-main);
}

.footer_content {
  width: min(100%, 900px);
  margin-inline: auto;
}

.footer_content-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.footer_content-inner h2 {
  color: var(--colr-white);
}

.footer_content-inner span {
  font-weight: 600;
  color: var(--colr-white);
}


.footer_content-icons {
  color: var(--colr-white);
  font-size: 1.5rem;
  margin-right: 16px;
}

/* .footer_content-icons:hover {
  color: var(--colr-white);
} */